body {
    padding: 100px;
    border: 100px;
    background-color:#D1EEEE	;
}

p{
    text-align: left;
    color: navy;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
        text-align: left;
        color: navy;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
        text-align: left;
        color: navy;
        font-size: 40px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.editable{
    border: 2px solid royalblue;
    padding: 20px;
}

.action-form p {
    font-size: 11px;
    color: darkgrey;
}

li.goal-class{
    border: 5px solid darkslateblue;
    padding: 10px;
    margin: 10px; 
    list-style: none;
}

li.goal-class ul {
    list-style: none;
}


li.goal-name{
    font-size: 22px;
}

li.goal-cat{
    font-size: 14px;

}

li p.form-title{
    color: darkgrey;
}